.events{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.event-info{
    margin-bottom: 30px;
}

.subhead{
    font-size: 15px;
    font-weight: bold;
}