.wedding-party{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-me{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px 10px 30px;
    align-items: center
}

.portrait{
    max-height:300px;
    max-width: 270px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-content: center;
}

.portrait > img {
    height: 300px;
}

.info{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.wp-section{
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

img.phil{
    height: 499px;
    transform: translateY(-110px);
}