.nav{
    width: 100%;
    margin: 25px 0 55px;
    letter-spacing: 2px;
    font-size: .9em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

ul{
    width: 60%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
}

li{
    text-decoration: none;
}

a{
    text-decoration: none;
    color: inherit;
}

a:hover{
    color: #F4B824;
}

@media only screen and (max-width: 800px) {
    ul{
        width: 90%;
    }
  }

  @media only screen and (max-width: 470px) {
    ul{
        justify-content: center;
    }

    li{
        margin: 12px;
    }
  }


@media only screen and (max-width: 370px) {
    li{
        font-size: 11px;
    }
  }