.rsvp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rsvp-input{
    font-weight: 400;
    font-style: Normal;
    line-height: 1.3;
    text-transform: none;
    -webkit-letter-spacing: normal;
    -moz-letter-spacing: normal;
    -ms-letter-spacing: normal;
    letter-spacing: normal;
    font-size: 14px;
    width: 43%;
    color: rgba(34,34,34,1.0);
    background-color: rgba(255,255,255,1.0);
    border-color: rgba(0,0,0,0.2);
    border-style: solid;
    border-radius: 3px;
    border-width: 1px;
    box-sizing: border-box;
    padding: 8px 20px;
    margin-bottom: 20px;
}

.rsvp-input:focus{
    border-color: #F6C248;
}

button{
    font-weight: 400;
    font-style: normal;
    line-height: 1.6;
    text-transform: uppercase;
    -webkit-letter-spacing: 3px;
    -moz-letter-spacing: 3px;
    -ms-letter-spacing: 3px;
    letter-spacing: 3px;
    font-size: 14px;
    display: block;
    width: 43%;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    white-space: nowrap;
    padding: 12px;
    border-width: 1px;
    border-style: solid;
    -webkit-text-decoration: none;
    text-decoration: none;
    border-color: transparent;
    color: #fff;
    background-color: #4d4845;
    border-radius: 0;
}